<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>905231728566-9n7qijgc2adf4d0b2h4r044ifpjlu8r9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.905231728566-9n7qijgc2adf4d0b2h4r044ifpjlu8r9</string>
	<key>API_KEY</key>
	<string>AIzaSyAYSjkYFvZP5anBxUvl3XDI4DwX5ddl4q8</string>
	<key>GCM_SENDER_ID</key>
	<string>905231728566</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>threats.SurpriseMe</string>
	<key>PROJECT_ID</key>
	<string>surpriseme-cadf4</string>
	<key>STORAGE_BUCKET</key>
	<string>surpriseme-cadf4.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:905231728566:ios:c77a30520fc18424</string>
	<key>DATABASE_URL</key>
	<string>https://surpriseme-cadf4.firebaseio.com</string>
</dict>
</plist>